/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 30%;
    height: 30%;
}

button {
  background: transparent;
  border: 0;
}
img {
    max-height: 100%;
    max-width: 100%;
}


.interest {
    text-align: center;
    font-style: bold;
    font-family: Verdana;
}

.interest-img {
  position: relative;
}

.check-img {
    height: 40%;
    width: 40%;
    display: block;
    margin: 0 auto;
    visibility: hidden;
    padding-top: 25%;
}




