/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 30%;
    height: 30%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.interest {
    text-align: center;
    font-style: bold;
    font-family: Verdana;
}

.interest-img {
    z-index: 0;
}

.check-img {
    z-index: 1;
}