<ion-view view-title="Interests">
  <ion-content class="padding">
    <h2>Trending</h2>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
            <button onclick="toggleCheck(event)">
              <img id="animals" class="interest-img" src="img/animals.png">
              <img id="animalsCheck" class="check-img" src="img/checkmark.png"> <br>
              Animals
            </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="outdoors" class="interest-img" src="img/outdoors.png">
            <img id="outdoorsCheck" class="check-img" src="img/checkmark.png"> <br>
            Outdoors
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="technology" class="interest-img" src="img/technology.png">
            <img id="technologyCheck" class="check-img" src="img/checkmark.png"> <br>
            Technology
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="health" class="interest-img" src="img/healthcare.png">
            <img id="healthCheck" class="check-img" src="img/checkmark.png"> <br>
            Health
          </button>
        </div>
    </div>

    <h2>Categories</h2>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="kids" class="interest-img" src="img/kids.png">
            <img id="kidsCheck" class="check-img" src="img/checkmark.png"> <br>
            Kids
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="environment" class="interest-img" src="img/environment.png">
            <img id="environmentCheck" class="check-img" src="img/checkmark.png"> <br>
            Environment
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="tutoring" class="interest-img" src="img/tutoring.png">
            <img id="tutoringCheck" class="check-img" src="img/checkmark.png"> <br>
            Tutoring
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="hunger" class="interest-img" src="img/hunger.png">
            <img id="hungerCheck" class="check-img" src="img/checkmark.png"> <br>
            Hunger
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="faith" class="interest-img" src="img/faith.png">
            <img id="faithCheck" class="check-img" src="img/checkmark.png"> <br>
            Faith
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="human" class="interest-img" src="img/human.png">
            <img id="humanCheck" class="check-img" src="img/checkmark.png"> <br>
            Human Rights
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="justice" class="interest-img" src="img/justice.png">
            <img id="justiceCheck" class="check-img" src="img/checkmark.png"> <br>
            Justice
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="sports" class="interest-img" src="img/sports.png">
            <img id="sportsCheck" class="check-img" src="img/checkmark.png"> <br>
            Sports
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="media" class="interest-img" src="img/media.png">
            <img id="mediaCheck" class="check-img" src="img/checkmark.png"> <br>
            Media
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="refugees" class="interest-img" src="img/refugee.png">
            <img id="refugeesCheck" class="check-img" src="img/checkmark.png"> <br>
            Refugees
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="elderly" class="interest-img" src="img/senior.png">
            <img id="elderlyCheck" class="check-img" src="img/checkmark.png"> <br>
            Elderly
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="handicapped" class="interest-img" src="img/disabled.png">
            <img id="handicappedCheck" class="check-img" src="img/checkmark.png"> <br>
            Handicapped
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="art" class="interest-img" src="img/art.png">
            <img id="artCheck" class="check-img" src="img/checkmark.png"> <br>
            Art
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="lgbt" class="interest-img" src="img/lgbt.png">
            <img id="lgbtCheck" class="check-img" src="img/checkmark.png"> <br>
            LGBT
          </button>
        </div>
    </div>

        <div class="row">
    <a href="#/tab/time" class="col col-33 button icon-left ion-chevron-left button-calm">Prev</a>
    <a href="#/tab/getstarted" class="col col-33 col-offset-33 button icon-right ion-chevron-right button-calm">Next</a>
    </div>


  </ion-content>
</ion-view>
