<ion-view view-title="Location">
  <ion-content class="padding">

  
    <ion-google-place placeholder="Your address" ng-model="yourModel" location-changed="yourLocationChangeCallback"/>
    </ion-google-place>

    <label class="item item-input item-select">
        <div class="input-label">
            Distance
        </div>
        <select>
            <option selected>5 Miles</option>
            <option >10 Miles</option>
            <option>15 Miles</option>
        </select>
    </label>

    <br/>


    <div class="row">
    <a href="#/tab/time" class="col col-33 col-offset-66 button icon-right ion-chevron-right button-calm">Next</a>
    </div>
  </ion-content>
</ion-view>