<ion-view view-title="Interests">
  <ion-content class="padding">
    <h2>Trending</h2>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
            <button onclick="toggleCheck(event)">
              <img id="animals" class="interest-img" src="img/animals.png">
              <div>
                Animals &nbsp
                <img id="animalsCheck" class="checked" src="img/check.png">
              </div>
            </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="outdoors" class="interest-img" src="img/outdoors.png">
            <div>
              Outdoors &nbsp
              <img id="outdoorsCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="technology" class="interest-img" src="img/technology.png">
            <div>
              Technology &nbsp
              <img id="technologyCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="health" class="interest-img" src="img/healthcare.png">
            <div>
              Health &nbsp
              <img id="healthCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

    <h2>Categories</h2>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="kids" class="interest-img" src="img/kids.png">
            <div>
              Kids &nbsp
              <img id="kidsCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="environment" class="interest-img" src="img/environment.png">
            <div>
              Environment &nbsp
              <img id="environmentCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="tutoring" class="interest-img" src="img/tutoring.png">
            <div>
              Tutoring &nbsp
              <img id="tutoringCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="hunger" class="interest-img" src="img/hunger.png">
            <div>
              Hunger &nbsp
              <img id="hungerCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="faith" class="interest-img" src="img/faith.png">
            <div>
              Faith &nbsp
              <img id="faithCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="human" class="interest-img" src="img/human.png">
            <div>
              Human Rights &nbsp
              <img id="humanCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="justice" class="interest-img" src="img/justice.png">
            <div>
              Justice &nbsp
              <img id="justiceCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="sports" class="interest-img" src="img/sports.png">
            <div>
              Sports &nbsp
              <img id="sportsCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="media" class="interest-img" src="img/media.png">
            <div>
              Media &nbsp
              <img id="mediaCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="refugees" class="interest-img" src="img/refugee.png">
            <div>
              Refugees &nbsp
              <img id="refugeesCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="elderly" class="interest-img" src="img/senior.png">
            <div>
              Elderly &nbsp
              <img id="elderlyCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="handicapped" class="interest-img" src="img/disabled.png">
            <div>
              Handicapped &nbsp
              <img id="handicappedCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-offset-25 col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="art" class="interest-img" src="img/art.png">
            <div>
              Art &nbsp
              <img id="artCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
        <div class="col col-33 interest">
          <button onclick="toggleCheck(event)">
            <img id="lgbt" class="interest-img" src="img/lgbt.png">
            <div>
              LGBT &nbsp
              <img id="lgbtCheck" class="checked" src="img/check.png">
            </div>
          </button>
        </div>
    </div>

        <div class="row">
    <a href="#/tab/time" class="col col-33 button icon-left ion-chevron-left button-calm">Prev</a>
    <a href="#/tab/getstarted" class="col col-33 col-offset-33 button icon-right ion-chevron-right button-calm">Next</a>
    </div>


  </ion-content>
</ion-view>
