<ion-view view-title="Interests">
  <ion-content class="padding">
    <h2>Trending</h2>

    <div class="row">
        <div id="animal" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
             style="background-image: url('img/animals.png'); background-repeat: no-repeat; background-position: top center">
          <img id="animalCheck" class="check-img" src="img/checkmark.png"> <br> <br>
          Animals
        </div>
        <div id="outdoors" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
             style="background-image: url('img/outdoors.png'); background-repeat: no-repeat; background-position: top center">
          <img id="outdoorsCheck" class="check-img" src="img/checkmark.png"> <br> <br>
          Outdoors
        </div>
    </div>
    <div class="row">
      <div id="technology" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/technology.png'); background-repeat: no-repeat; background-position: top center">
        <img id="technologyCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Technology
      </div>
      <div id="health" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/healthcare.png'); background-repeat: no-repeat; background-position: top center">
        <img id="healthCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Health
      </div>
    </div>

    <h2>Categories</h2>

    <div class="row">
      <div id="kids" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/kids.png'); background-repeat: no-repeat; background-position: top center">
        <img id="kidsCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Kids
      </div>
      <div id="envir" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/environment.png'); background-repeat: no-repeat; background-position: top center">
        <img id="envirCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Environment
      </div>
    </div>

    <div class="row">
      <div id="tutoring" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/tutoring.png'); background-repeat: no-repeat; background-position: top center">
        <img id="tutoringCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Tutoring
      </div>
      <div id="hunger" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/hunger.png'); background-repeat: no-repeat; background-position: top center">
        <img id="hungerCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Hunger
      </div>
    </div>

    <div class="row">
      <div id="faith" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/faith.png'); background-repeat: no-repeat; background-position: top center">
        <img id="faithCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Faith
      </div>
      <div id="human" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/human.png'); background-repeat: no-repeat; background-position: top center">
        <img id="humanCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Human Rights
      </div>
    </div>

    <div class="row">
      <div id="justice" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/justice.png'); background-repeat: no-repeat; background-position: top center">
        <img id="justiceCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Justice
      </div>
      <div id="sports" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/sports.png'); background-repeat: no-repeat; background-position: top center">
        <img id="sportsCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Sports
      </div>
    </div>

    <div class="row">
      <div id="media" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/media.png'); background-repeat: no-repeat; background-position: top center">
        <img id="mediaCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Media
      </div>
      <div id="refugee" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/refugee.png'); background-repeat: no-repeat; background-position: top center">
        <img id="refugeeCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Refugees
      </div>
    </div>
    <div class="row">
      <div id="senior" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/senior.png'); background-repeat: no-repeat; background-position: top center">
        <img id="seniorCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Elderly
      </div>
      <div id="disabled" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/disabled.png'); background-repeat: no-repeat; background-position: top center">
        <img id="disabledCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Handicapped
      </div>
    </div>
    <div class="row">
      <div id="art" onclick="toggleCheck(event)" class="col col-offset-25 col-33 interest"
           style="background-image: url('img/art.png'); background-repeat: no-repeat; background-position: top center">
        <img id="artCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        Art
      </div>
      <div id="lgbt" onclick="toggleCheck(event)" class="col col-offset-10 col-33 interest"
           style="background-image: url('img/lgbt.png'); background-repeat: no-repeat; background-position: top center">
        <img id="lgbtCheck" class="check-img" src="img/checkmark.png"> <br> <br>
        LGBT
      </div>
    </div>

        <div class="row">
    <a href="#/tab/time" class="col col-33 button icon-left ion-chevron-left button-calm">Prev</a>
    <a href="#/tab/getstarted" class="col col-33 col-offset-33 button icon-right ion-chevron-right button-calm">Next</a>
    </div>


  </ion-content>
</ion-view>
